.faq .colLeft .touch-section .Polaris-Card .Polaris-Card__Section{
    padding: 0;
}

.title-fix{
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    margin-bottom: 0;
}


.faq .btnEnableApp button {
    height: 36px;
    padding: 8px 16px;
}

.faq .btnEnableApp.active button {
    background: #008060;
    color: #fff;
}

.faq .touch-section .group-touch .item-touch{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E1E3E5;
}
.faq .touch-section .group-touch .item-touch:last-child{
    border-bottom: none;
}
.faq .touch-section .group-touch .item-touch .item-left{
    float: left;
    width: 28%;
    font-size: 2.2rem;
    text-align: center;
}
.faq .touch-section .group-touch .item-touch .item-left svg{
    color: #5C5F62

}
.faq .touch-section .group-touch .item-touch .item-right{
    width: 72%;
    float: left;
}

.faq .touch-section .group-touch .item-touch .item-right a{
    color: #0094FF;
    text-decoration: none;
    font-weight: 600;
}

.faq .touch-section .Polaris-Card,
.faq .resources-section .Polaris-Card
{
    border-radius: 0 !important;
}
.faq .resources-section .group-resources .item-resource{
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E1E3E5;
}

.faq .resources-section .group-resources .item-resource .title-resource {
    text-decoration: none;
    display: block;
    color: #000;
    font-weight: 600;
    font-size: 1.6rem;
}

.Polaris-Button:hover , a:hover{
    cursor: pointer;
}

.faq .resources-section .group-resources .item-resource .title-resource:hover {
    color: #0094FF;
}

.faq .resources-section .group-resources .item-resource p{
    font-size: 1em;
    line-height: 24px;
}
.faq .resources-section .group-resources .item-resource .user-info{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
}
.faq .resources-section .group-resources .item-resource .user-info .left .Polaris-Thumbnail{
    border: 0
}

.faq .resources-section .group-resources .item-resource .user-info .left img{
    width: 55px;
    border-radius: 50%;
}

.faq .resources-section .group-resources .item-resource .user-info .right{
    padding-left: 15px;
    font-style: italic;
    font-size: 1em;
}
.faq .resources-section .group-resources .view-our-site{
   text-align: center;
}

.faq .resources-section .group-resources .view-our-site .link-our-site{
    font-size: 15px;
    color: #2C6ECB;
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    display: inline;
    margin-top: 1px;
    border-bottom: 1px solid #2C6ECB;
    
}
.faq .resources-section .group-resources .view-our-site .link-our-site:hover {
    font-weight: bold;
}
/* .faq .resources-section .group-resources .item-resource:hover .view-our-site{
    visibility: visible;
}
.faq .resources-section .group-resources .item-resource .view-our-site .Polaris-Link{
    font-size: 15px;
    color: #2C6ECB;
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    display: block;
    margin-top: 1px;
    border-bottom: 1px solid #2C6ECB;
} 
.faq .resources-section .group-resources .item-resource .view-our-site .Polaris-Icon{
    color: #2C6ECB;
    display: inline-block;
    padding-top: 3px;
    box-sizing: border-box;
}

.faq .resources-section .group-resources .item-resource .view-our-site .Polaris-Button{
    display: inline-block;
    border:none;
    box-shadow: none;
    padding: 0;
    min-height:0;
    min-width: 0;

} */
.faq .colRight .watch-video-tutorial .group-video{
    margin: 20px 0;

}
.faq .colRight .watch-video-tutorial .group-video .item-video{
    width: 49%;
    float: left;
}
.faq .colRight .watch-video-tutorial .group-video .item-video:nth-child(2n){
    margin-left: 2%;
}
.faq .colRight .watch-video-tutorial .group-video .item-video .Polaris-Card .Polaris-MediaCard{
    padding: 15px;
}
.faq .colRight .watch-video-tutorial .group-video .item-video .Polaris-Card .Polaris-MediaCard .Polaris-MediaCard__MediaContainer{
    flex-basis:100%;
}

.faq .colRight .watch-video-tutorial .group-video .item-video .Polaris-Card .Polaris-MediaCard .Polaris-MediaCard__InfoContainer{
    flex-basis: 100%;
}
.faq .colRight .watch-video-tutorial .group-video .item-video .Polaris-Card .Polaris-MediaCard .Polaris-MediaCard__InfoContainer .Polaris-Card__Section{
    padding-left: 0;
    padding-right: 0;
}

.faq .colRight .watch-video-tutorial .group-video .item-video .Polaris-Card .Polaris-MediaCard .Polaris-MediaCard__InfoContainer .Polaris-Card__Section .Polaris-MediaCard__Popover{
    top: 2.6rem;
    right: 0;
}

.faq .colRight .watch-video-tutorial .pagination{
    display: flex;
    align-items: center;
    justify-items: center;
}
.faq .colRight .watch-video-tutorial .title-page{
    padding-left: 8px;
}